/* ==========================================================================
#HEADINGS
========================================================================== */

h1 {

  transition: all 300ms ease-in-out;
  font-family: $font-family-bold;
  font-size: 19vw;
  text-align: center;

  $b: &;

  @at-root .is-firefox {
    #{$b} {
      font-size: 18.4vw;
    }
  }

}

h2 {

  font-size: 8vw;
  transition: all 300ms ease-in-out;

  @media #{$md-and-up} {
    font-size: $mega-size;
  }

}

h3 {

  font-size: 6vw;
  transition: all 300ms ease-in-out;

  @media #{$md-and-up} {
    font-size: $kilo-size;
  }

}

h4 {

  font-size: 4vw;
  transition: all 300ms ease-in-out;

  @media #{$md-and-up} {
    font-size: $alpha-size;
  }

}
